/*etc*/
html, body {
	height: 100%;
}

.cover {
	display: none;
}
/*end etc*/

/*parallax*/
.home_1, .home_2, .home_3 {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}

.home_1 {
	min-height: 100%;
	background-image:url('/images/home1.jpg') ;
}

.home_2 {
	min-height: 100%;
	background-image:url('/images/home2.jpg') ;
}

.home_3 {
	min-height: 100%;
	background-image:url('/images/home3.jpg') ;
}
.home_1 h1 {
	color: white;
	position: absolute;
	top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*end parallax*/

/*content*/
.header, .about {
	text-align: center;
}

.about img {
	border-radius: 50%;
}
/*end content*/