/*etc*/
body {
	background-color: #f6f7f9;
}
/*end etc*/

/*import font*/
@font-face {
    font-family: "bangna-new";
    src: url('/fonts/bangna-new.ttf') format("truetype");
}

p, h1, h2, h3, h4, h5, h6, a, button { 
	font-family: "bangna-new";
	font-weight: bold;
	padding-top: 6px;
	margin-bottom: 0px;
}
/*end import font*/

/*media*/
@media (max-width: 800px) {
.hide {
	display: none!important;
}
}

@media (min-width: 801px) {
.hide-m {
	display: none!important;
}
}	

@media (max-width: 970px) {
#popup {
	display: none!important;
}
}
/*end media*/

/*navbar*/
#navbar {
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0px;
}

#navbar .link {
	display: inline-block;
	text-decoration: none;
	color: white;
	padding: 6px 16px;
	animation:fadeout 0.3s
}

#navbar .link:hover {
	animation:linkin 0.3s;
	background-color: rgba(0, 0, 0, 0.8);
}

span {
	vertical-align: text-bottom;
}

.transparent {
	animation:fadeout 0.4s
}

.block {
	background-color: rgba(0, 0, 0, 0.65);
	animation:fadein 0.4s
}

.form-item {
	padding: 4px 24px 4px 24px;
}

.help-block {
	display: inline-block;
	margin-top: 6px;
}

.btn-custom {
	border: none;
	color: #fff;
	background-color: rgba(0, 0, 0, 0);
	border-radius: 0.25rem;
}
  
.btn-custom:hover {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
}
  
.btn-custom:focus, .btn-custom.focus {
	box-shadow: none;
 }
 
.show > .btn-custom {
	color: #fff;
	background-color: rgba(0, 0, 0, 0.8);
}

@keyframes linkin {
	from {background-color: rgba(0, 0, 0, 0)}
	to {background-color: rgba(0, 0, 0, 0.8)}
}

@keyframes linkout {
	from {background-color: rgba(0, 0, 0, 0.8)}
	to {background-color: rgba(0, 0, 0, 0)}
}

@keyframes fadein {
	from {background-color: rgba(0, 0, 0, 0)}
	to {background-color: rgba(0, 0, 0, 0.65)}
}

@keyframes fadeout {
	from {background-color: rgba(0, 0, 0, 0.65)}
	to {background-color: rgba(0, 0, 0, 0)}
}
/*end navbar*/

/*cover*/
.cover{
	height: 200px;
	background-image: url("/images/cover.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
}
/*end cover*/

/*header*/
.header {
	background-color: white;
	margin-top: 10px;
	margin-bottom: 16px;
}

.header h1 {
	margin-bottom: 0px;
}

.header hr {
	padding: 6px;
	margin-top: 8px;
	margin-bottom: 0px;
}

.header p {
	margin-top: -8px;
	margin-bottom: 0px; 
	padding-bottom: 4px;
}
/*end header*/

/*popup*/
#popup {
	animation:popupin 0.4s;
	display: none;
	position: fixed;
	top:0px;
	z-index: 10000;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#popup img {
	animation:imgin 0.3s;
	max-width: 95%;
	max-height: 95%;
	position: absolute;
	margin: auto;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes popupin {
	from {background-color: rgba(0, 0, 0, 0)} 
	to {background-color: rgba(0, 0, 0, 0.5)}
}

@keyframes imgin {
	from {transform:scale(0)}
	to {transform:scale(1)}
}
/*end popup*/

/*content*/
.content {
	margin-top: -16px;
	padding: 0px 10px 10px 0px;
}

.cards {
	padding: 10px 0px 0px 10px;
}

.cards img {
	margin-left: 50%;
	transform: translateX(-50%);
	max-height: 100%;
	max-width: 100%;
}

.card_content img:hover {
	opacity: 0.8;
}

.cards h5 {
	margin-top: 6px;
}

.cards p {
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 0px;
}
/*end content*/

/*footer*/
footer {
	background-color: rgba(0, 0, 0, 1);
	margin: 0px;
	text-align: center;
	color: white;
}

footer p {
	display: inline-block;
	margin-bottom: 0px;
	padding: 6px;
}
/*end footer*/
