body {
	background-color: #f6f7f9;
}

/*navbar*/
#navbar {
	position: fixed;
	z-index: 1000;
	width: 100%;
	top: 0px;
	color: red;
}

#navbar a {
	display: inline-block;
	text-decoration: none;
	color: white;
	padding: 6px 16px;
}

#navbar a:hover {
	background-color: rgba(0, 0, 0, 0.8);
}

.transparent {
	animation:fadeout 0.4s
}

.block {
	background-color: rgba(0, 0, 0, 0.65);
	animation:fadein 0.4s
}

@keyframes fadeout {
	from {background-color: rgba(0, 0, 0, 0.65)}
	to {background-color: rgba(0, 0, 0, 0)}
}

@keyframes fadein {
	from {background-color: rgba(0, 0, 0, 0)}
	to {background-color: rgba(0, 0, 0, 0.65)}
}
/*end navbar*/

/*cover*/
.cover{
	height: 200px;
	background-image: url("/images/cover.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
}
/*end cover*/

/*header*/
.header {
	background-color: white;
	margin-top: 10px;
}

.header h1 {
	margin-bottom: 0px;
}

.header hr {
	margin: 0px;
}

.header p {
	margin: 0px;
}
/*end header*/

/*content*/
.content {
	padding: 0px 10px 10px 0px;
}

.cards {
	padding: 10px 0px 0px 10px;
}

.cards img {
	width: 100%;
}

.card_content:hover {
	opacity: 0.8;
}
/*end content*/

/*popup*/
#popup {
	animation:popupin 0.4s;
	display: none;
	position: fixed;
	top:0px;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}

#popup img {
	animation:imgin 0.3s;
	max-width: 95%;
	max-height: 95%;
	position: absolute;
	margin: auto;
	top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

@keyframes popupin {
	from {background-color: rgba(0, 0, 0, 0)} 
	to {background-color: rgba(0, 0, 0, 0.5)}
}

@keyframes imgin {
	from {transform:scale(0)}
	to {transform:scale(1)}
}
/*end popup*/

/*footer*/
footer {
	background-color: rgba(0, 0, 0, 0.65);
	margin: 0px;
	text-align: center;
	color: white;
}

footer p {
	display: inline-block;
	margin-bottom: 0px;
	padding: 6px;
}
/*end footer*/

@media (max-width: 575px) {
.hide {
    display: none!important;
}
}